@using Microsoft.AspNetCore.Identity
@{
    bool IsSignedIn = User.Identity?.IsAuthenticated ?? false;
}

<ul class="navbar-nav ms-auto">
  @if (IsSignedIn)
  {
      <li class="nav-item">
          <a class="nav-link text-dark" asp-controller="Auth" asp-action="Logout" method="post">Logout</a>
      </li>
  }
  else
  {
      <li class="nav-item">
          <a class="nav-link text-dark" asp-controller="Auth" asp-action="Login">Login</a>
      </li>
      @* <li class="nav-item">
          <a class="nav-link text-dark" asp-controller="Auth" asp-action="Register">Register</a>
      </li> *@
  }
</ul>