@using System.Globalization;
@model ProductDto
@{
    var isEdit = Model.Id != Guid.Empty;
    var action = isEdit ? "Edit" : "Create";
}

<form method="post" asp-action="@action">
    @Html.AntiForgeryToken()
    <div class="row mb-3">
        <div class="col-lg-6">
            <div class="card h-100">
                <div class="card-header">
                    Product Details
                </div>
                <div class="card-body">
                    <div class="row mb-3">
                        <label class="col-sm-4 col-form-label">Product Name</label>
                        <div class="col-sm-8">
                            @if(isEdit)
                            {
                                <input asp-for="Name" type="hidden" hidden>
                                <input value="@Model.Name" class="form-control" disabled>
                            }
                            else
                            {
                                <input asp-for="Name" class="form-control" >
                            }
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label class="col-sm-4 col-form-label">Product Description</label>
                        <div class="col-sm-8">
                            <textarea class="form-control" asp-for="Description"></textarea>
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row">
                        <label class="col-sm-4 col-form-label">Price</label>
                        <div class="col-sm-8">
                            <input id="Price" hidden type="hidden" asp-for="Price">
                            <input id="PriceFormatted" class="form-control" value="@Model.Price.ToString("C2")">
                            <span asp-validation-for="Price" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <button type="submit" class="btn btn-primary me-2">Save</button>
    <a asp-action="Index" class="btn btn-outline-primary" role="button">Back</a>
</form>

@* 
the script can't use JQuery because it hasn't loaded yet. 
to implement JQuery, load the script inside the section in the actual page
*@
<script type="text/javascript" src="~/js/product-form.js"></script>