@model InvoiceFormDTO

@{
    ViewData["Title"] = "Create Invoice";
}

<div class="text-start mb-5">
    <h1 class="display-6">@ViewData["Title"]</h1>
</div>

<partial name="_InvoiceForm" model="@Model" />

@section Scripts {
    <script src="~/js/invoice-form.js"></script>
}